<!DOCTYPE html>
<html >
   <head>
      <meta charset="UTF-8">
      {% if qmobile %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endif %}
      <link rel="shortcut icon" href="static/favicon.ico">
         <title>Kevin's music center</title>
      <style>
         /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
         .cf:before, .cf:after{
         content:"";
         display:table;
         }
         .cf:after{
         clear:both;
         }
         .cf{
         zoom:1;
         }
         /* Form wrapper styling */
         .search-wrapper {
         width: 220px;
         margin: 170px auto 50px auto;
         box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
         }
         /* Form text input */
         .search-wrapper input {
         width: 138px;
         height: 20px;
         padding: 10px 5px;
         float: left;
         font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
         border: 0;
         background: #EEE;
         border-radius: 3px 0 0 3px;
         }
         .search-wrapper input:focus {
         outline: 0;
         background: #fff;
         box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
         }
         .search-wrapper input::-webkit-input-placeholder {
         color: #999;
         font-weight: normal;
         font-style: italic;
         }
         .search-wrapper input:-moz-placeholder {
         color: #999;
         font-weight: normal;
         font-style: italic;
         }
         .search-wrapper input:-ms-input-placeholder {
         color: #999;
         font-weight: normal;
         font-style: italic;
         }
         /* Form submit button */
         .search-wrapper button {
         overflow: visible;
         position: relative;
         float: right;
         border: 0;
         padding: 0;
         cursor: pointer;
         height: 40px;
         width: 72px;
         font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
         color: white;
         text-transform: uppercase;
         background: #D83C3C;
         border-radius: 0 3px 3px 0;
         text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
         }
         .search-wrapper button:hover{
         background: #e54040;
         }
         .search-wrapper button:active,
         .search-wrapper button:focus{
         background: #c42f2f;
         outline: 0;
         }
         html{
         	/* This image will be displayed fullscreen */
         	background:url('static/bg.jpg') no-repeat center center;

         	/* Ensure the html element always takes up the full height of the browser window */
         	min-height:100%;

         	/* The Magic */
         	background-size:cover;
         }

         a, a:visited {
         	outline:none;
         	color:#1c4f64;
         }

         a:hover{
         	text-decoration:none;
         }

         section, footer, header{
         	display: block;
         }


         /*----------------------------
         	The Footer
         -----------------------------*/


         footer{
         	background-color: #111111;
         	bottom: 0;
         	box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
         	height: 45px;
         	left: 0;
         	position: fixed;
         	width: 100%;
         	z-index: 100000;
         }

         footer h2{
         	color: #EEEEEE;
         	font-size: 14px;
         	font-weight: normal;
         	left: 50%;
         	margin-left: -400px;
         	padding: 13px 0 0;
         	position: absolute;
         	width: 540px;
         }

         footer h2 i{
         	font-style:normal;
         	color:#888;
         }

         footer a.tzine,a.tzine:visited{
         	color: #999999;
         	font-size: 12px;
         	margin: 16px 0 0 110px;
         	position: absolute;
         	text-decoration: none;
         	top: 0;
         }

         footer a i{
         	color:#ccc;
         	font-style: normal;
         }

         footer a i b{
         	color:#c92020;
         	font-weight: normal;
         }
         .search-wrapper button:before { /* left arrow */
         content: '';
         position: absolute;
         border-width: 8px 8px 8px 0;
         border-style: solid solid solid none;
         border-color: transparent #d83c3c transparent;
         top: 12px;
         left: -6px;
         }
         .search-wrapper button:hover:before{
         border-right-color: #e54040;
         }
         .search-wrapper button:focus:before,
         .search-wrapper button:active:before{
         border-right-color: #c42f2f;
         }
         .search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
         border: 0;
         padding: 0;
         }
      </style>
   </head>
   <body>
      <form action="{{ url_for('s') }}" method=post class="search-wrapper cf">
         <input type="text" placeholder="Search here..." name=s>
         <button type="submit">Search</button>
      </form>
          <footer>
            <a class="tzine" href="http://humcc.com/" target="_blank">Kevin@nsa.vc</a>
        </footer>

   </body>
</html>
